<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/fragments :: head}">
</head>
<body>

<!-- Include the navbar fragment -->
<div th:replace="~{fragments/fragments :: navbar}"></div>

<!-- Include the alert fragment -->
<div th:replace="~{fragments/fragments :: alert}"></div>

<div class="container-fluid mt-5 d-flex flex-column justify-content-center align-items-center">
    <h2 th:text="${pageTitle}">Manage Title</h2>
    <form class="mt-5 w-50 needs-validation" method="post" th:action="@{${formAction}}" th:object="${title}">
        <input th:field="*{id}" type="hidden" />
        <div class="form-group mt-2">
            <label for="name">Name</label>
            <input class="form-control" id="name" placeholder="Enter name"
                   th:classappend="${#fields.hasErrors('name')} ? 'is-invalid'" th:field="*{name}" type="text">
            <div class="invalid-feedback" th:errors="*{name}" th:if="${#fields.hasErrors('name')}">Name Error</div>
        </div>
        <div class="form-group mt-2">
            <label for="description">Description</label>
            <input class="form-control" id="description" placeholder="Enter description"
                   th:classappend="${#fields.hasErrors('description')} ? 'is-invalid'" th:field="*{description}"
                   type="text">
            <div class="invalid-feedback" th:errors="*{description}" th:if="${#fields.hasErrors('description')}">
                Description Error
            </div>
        </div>
        <div class="form-group mt-2">
            <label for="genre">Genre</label>
            <select class="form-control" id="genre" multiple="multiple" name="genres"
                    th:classappend="${#fields.hasErrors('genres')} ? 'is-invalid'">
                <option th:each="genre: ${genres}"
                        th:selected="${selectedGenreIds.contains(genre.id) ? 'selected' : null}"
                        th:text="${genre.name}" th:value="${genre.id}">Genre Name</option>
            </select>
            <div class="invalid-feedback" th:errors="*{genres}" th:if="${#fields.hasErrors('genres')}">Genres</div>
        </div>
        <div class="form-group mt-2">
            <label for="year">Release Year</label>
            <input class="form-control" id="year" placeholder="Enter release year"
                   th:classappend="${#fields.hasErrors('releaseYear')} ? 'is-invalid'"
                   th:field="*{releaseYear}" type="number">
            <div class="invalid-feedback" th:errors="*{releaseYear}" th:if="${#fields.hasErrors('releaseYear')}">Release
                Year Error
            </div>
        </div>
        <div class="form-group mt-2">
            <label for="type">Type</label>
            <select class="form-control" id="type" name="type" th:classappend="${#fields.hasErrors('type')} ? 'is-invalid'">
                <option th:each="type : ${types}"
                        th:selected="${selectedType.equals(type) ? 'selected' : null}"
                        th:text="${type.description}"
                        th:value="${type.id}">Type Description</option>
            </select>
            <div class="invalid-feedback" th:errors="*{type}" th:if="${#fields.hasErrors('type')}">Type Error</div>
        </div>

        <div class="d-flex justify-content-center gap-2">
            <button class="btn btn-dark mt-5" type="submit">Submit</button>
            <!-- Cancel button -->
            <a class="btn btn-danger mt-5" th:href="@{/title/manage}">Cancel</a>
        </div>
    </form>
</div>
<div th:replace="~{fragments/fragments :: scripts}"></div>
</body>