<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/fragments :: head}">
</head>
<body>

<!-- Include the navbar fragment -->
<div th:replace="~{fragments/fragments :: navbar}"></div>

<div class="container-fluid mt-5 d-flex flex-column justify-content-center align-items-center" style="min-height: 80vh;">
    <!-- Include the welcome fragment -->
    <div th:replace="~{fragments/fragments :: welcome}"></div>
</div>
<div th:replace="~{fragments/fragments :: scripts}"></div>
</body>