<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/fragments :: head}">
</head>
<body>

<!-- Include the navbar fragment -->
<div th:replace="~{fragments/fragments :: navbar}"></div>

<!-- Include the alert fragment -->
<div th:replace="~{fragments/fragments :: alert}"></div>

<div class="container-fluid mt-5 d-flex flex-column justify-content-center align-items-center">
    <h2 class="text-center mt-5">Your Movie, TV Series, Documentary <span class="yellow-text">Catalogue Management</span></h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="genre, iterStat : ${genres}">
            <th scope="row" th:text="${iterStat.count}">1</th>
            <td th:text="${genre.name}">Action</td>
            <td>
                <div class="d-inline-block">
                    <form method="post" th:action="@{/genre/edit/{id}(id=${genre.id})}">
                        <button class="btn btn-warning btn-sm" type="submit">Edit</button>
                    </form>
                </div>
                <div class="d-inline-block">
                    <form method="post" th:action="@{/genre/delete/{id}(id=${genre.id})}">
                        <button class="btn btn-danger btn-sm" type="submit">Delete</button>
                    </form>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-dark mt-5" role="button" th:href="@{/genre/create}">Add New Genre</a>
</div>
<div th:replace="~{fragments/fragments :: scripts}"></div>
</body>