<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/fragments :: head}">
</head>
<body>

<!-- Include the navbar fragment -->
<div th:replace="~{fragments/fragments :: navbar}"></div>

<!-- Include the alert fragment -->
<div th:replace="~{fragments/fragments :: alert}"></div>

<div class="container-fluid mt-5 d-flex flex-column justify-content-center align-items-center">
    <h2 class="text-center mt-5">Your Movie, TV Series, Documentary <span class="yellow-text">Catalogue Management</span></h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Genre</th>
            <th scope="col">Release year</th>
            <th scope="col">Type</th>
            <th colspan="2" scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="title, iterStat : ${titles}">
            <th scope="row" th:text="${iterStat.count}">1</th>
            <td th:text="${title.name}">2001 Space Odyssey</td>
            <td th:text="${title.description}">A journey to Jupiter after the discovery of a Monolith on the Moon</td>
            <td th:text="${title.genresValues()}">Sci-fi</td>
            <td th:text="${title.releaseYear}">1968</td>
            <td th:text="${title.type.description}">Movie</td>
            <td>
                <form method="post" th:action="@{/title/edit/{id}(id=${title.id})}">
                    <button class="btn btn-warning btn-sm" type="submit">Edit</button>
                </form>
            </td>
            <td>
                <form method="post" th:action="@{/title/delete/{id}(id=${title.id})}">
                    <button class="btn btn-danger btn-sm" type="submit">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-dark mt-5" role="button" th:href="@{/title/create}">Add New Title</a>
</div>
<div th:replace="~{fragments/fragments :: scripts}"></div>
</body>